.Login-reg-box{
    width: 400px;
    height: 310px;
    background-color: #fff;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.Login-reg-box .title-box {
    background: url('../images/login_title.png') no-repeat center;
    height: 60px;
}
.Login-reg-box .reg-box {
    display: none;
}
.Login-reg-box .layui-input-block {
    margin-left: 0px;
}


.login-box a {
    display: flex;
    justify-content:flex-end;
    padding:40px 20px;
}
.reg-box a {
    display: flex;
    justify-content:flex-end;
    padding:40px 20px;
}
.layui-form-item {
    position: relative;
    margin:5px 20px 15px;
}
.layui-btn-normal {
    position: absolute;
    left:50%;
    transform: translateX(-50%);
}

.layui-form-item .layui-icon {
    position: absolute;
    top:10px;
    left: 10px;
}
.layui-input{
    padding-left: 32px;
}
